@font-face {
    font-family: "Evolventa";
    src: url("./fonts/Evolventa-Regular.woff2") format ("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Evolventa";
    src: url("./fonts/Evolventa-BoldOblique.woff2") format ("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}  


@font-face {
    font-family: "TT Ricordi Marmo Trial Variable";
    src: url("./fonts/TTRicordiMarmoTrialVariable.woff2") format ("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl
):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;

  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}


/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] { fill: currentColor }
svg *[stroke] { stroke: currentColor }

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
--color-green: #59866B;
--color-white: #FFFFFF;
--color-pink: #FFC8C8;
--color-dark-pink: #FF728B;

--border-radius: 10px;

--font-family-base: 'Evolventa', sans-serif;
--font-family-accent: 'TT Ricordi Marmo Trial Variable', sans-serif;

--container--width: 1168px;
--container--padding-x: 15px;

-transition-duration: 0.2s;
}

body {
    font-family: var(--font-family-base);
    font-size: 24px;
    font-weight: 400;
    line-height: 1.75;
    background-color: var(--color-white);
}

a, button, input, textarea, svg * {
    transition-duration: var(--transition-duration);
}



a {
    color: var(--color-green) 
}

a:hover{
    color: black;
}

.button-icon:hover {
    color: black;
}

.container {
    max-width: calc(var(--container--width) + var(--container--padding-x)*2);
    margin-inline: auto;
    padding-inline: var(--container--padding-x);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 20px;
    border: 2px solid #ccc5b9;
}

.header-menu-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    justify-content: space-around;
    align-items: center;
}

.header-icons {
    display: flex;
    column-gap: 20px;
    padding: 8px 0px 8px 0px;
    align-items: center;
    
}

.header-menu-link {
    text-decoration: none;
}

.button-icon {
    color: var(--color-green);
    background: var(--color-white);
    border: none solid var(--color-white);
}

/*banner*/

.banner {
    display: flex;
    min-height: 574px;
    flex-direction: row;
    /* justify-content: space-between; */
    /* align-items: flex-end; */
}

.banner-background.image::after {
  content: '';
  background: url('./images/banner.png') right/cover no-repeat;
  width: 951px;
  height: 585px;
  /* margin-left: -30px;     */
  /*flex-shrink: 0;*/

}

.banner-background.star1::before {
  content: url('./icons/Star\ 1.svg');  
  position: absolute;
  left: 39.5%;
  top: 78px;
}

.banner-background.star2_3::before {
  content: url('./icons/Star\ 2.svg');
  position: absolute;
  left: 37%;
  top: 150px;
}

.banner-background.star2_3::after {
  content: url('./icons/Star\ 3.svg');
  position: absolute;
  left: 9%;
  top: 300px;
}

.banner-background {
  display: grid;
  grid-template-columns: 5fr 1fr;
}

.banner-background-letters {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-right: 200px ;
  z-index: 1;
  /* padding-left: 50px; */
  /* margin: 10px; */
  /* margin-left: 200px;  */
}

.banner-background-letters-colorgram {
  width: 506px;
  height: 134px;
  color: #FF728B;
  padding-left: 30%;
}

.banner-background-letters-Text {
    color: var(--color-green);
    font-size: 48px;
    font-style: oblique;
    padding-left: 40%;
}

.button {
  font-style: oblique;
  display: inline-flex; 
  align-items: center;
  padding: 10px 40px 10px 40px;
  height: 56px;
  font-size: 24px;
  font-weight: 700;
  line-height: 2;
  border-radius: 10px
}

.banner-catalog-button.button {
  background-color: #FFC8C8;
  border: 2px solid #ccc5b9;
  /* margin-right: -100px;
  margin-bottom: 40px; */
  z-index: 1;
  white-space: nowrap;
  position: absolute;
  top: 550px;
  left: 34%;
}

.banner-catalog-button:hover {
  background-color: #FF728B;
  border: 2px solid #ccc5b9;
  color: var(--color-white);

}

@media (max-width:724px) {
  .header {
      flex-wrap: wrap;
      padding-top: 8px;
      padding-inline: 100px;
  }
  .header-menu {
      order: 1;
      flex-basis: 100%;
  }
  .header-icons {
      flex-direction: row;
      justify-content: flex-start;
  }


  .banner-background.image::after {
    order:-1;
    background-position: center;
    background-size:contain;
    width: 120vw;
    margin-top: -30px;
    margin-inline: -20px;

  }

  .banner-background.star1::before {
    content: url('./icons/Star\ 1.svg');  
    position: absolute;
    left: 80%;
    top: 450px;
  }

  .banner-background.star2_3::after {
    content: url('./icons/Star\ 3.svg');
    position: absolute;
    left: 9%;
    top: 220px;
  }
  


  .banner-background-letters {
    /* padding-top: 70px; */
    margin-inline: auto;
    /* padding-left: 50px; */
    /* margin: 10px; */
    /* margin-left: 200px;  */
  }

  .banner-background-letters-colorgram-svg {
    width: 253px;
    /* height: auto; */

  }

  .banner-background-letters-colorgram {
    padding-left: 40%;
  }

  .banner-background-letters-Text {
    padding-left: auto;
    margin-top: -30px;
  }


  .button {

    padding: 10px 30px 10px 30px;
    height: 54px;
    width: auto;
    font-size: 18px;
  }

  .banner-catalog-button.button {
    position: absolute;
    top: 500px;
    left: 40%;
  }
  /* .banner-background {
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-block: 0px;
    padding-inline: 8px;
  }

  .button {
    font-style: oblique;
    display: inline-flex; 
    align-items: center;
    padding: 10px 40px 10px 40px;
    height: 54px;
    width: auto;
    font-size: 18px;
    border-radius: 10px
  }
  .banner-background {
    display: grid;
    grid-template-columns: -50px 1fr;
    justify-items: end;
    align-items: end;
  } */

  /*.banner-background-colorgram {
    position: absolute;
    margin-top: -170px;
    top: -150px;
    left: 100px;
    z-index: 2;
  } */
}

@media (max-width:1400px) {
  .banner {
    flex-wrap: wrap;
    /* padding-top: 8px; */
    padding-inline: auto;
    justify-content: center;
    /* flex-direction: row;
    justify-content:space-between;
    align-items: center;
    column-gap: 8px;
    padding-left: 0px; */
  }

  .banner-background.image::before {
    /* order:-1; */
    background-position: center;
    background-size: cover;
    
    margin-inline: -20px;

  }

  .banner-background.star2_3::before {
    content: url('./icons/Star\ 2.svg');
    position: absolute;
    left: auto;
    right: 9%;
    top: 150px;
  }
  
  /* .banner-background.image::before {
    width: 100vw;
    height: 390px;
    margin: auto;

  } */
  .banner-background {
    display: grid;
    grid-template-columns: 100%;
    /* grid-column: span 1 / span 1 */
  }

  .banner-background-letters {
    padding-top: 100px;
    padding-inline: 0px ;
    margin-inline: -200px;
    /* padding-left: 50px; */
    /* margin: 10px; */
    /* margin-left: 200px;  */
  }

  .banner-background-letters-colorgram {
    width: 506px;
    height: 134px;
    padding-left: auto;
  }
  
  .banner-background-letters-Text {
    font-size: 2rem;
    padding-left: auto;
  }

  .banner-catalog-button.button {
    top: 1000px;
    left: 60%;
  }

  /* .banner-background-colorgram {
    padding-top: 20px;
    padding-inline: 8px;
    order:1;
  }

  .banner-background-colorgram-svg {
    width: 253px;
    height: 67px;
  }

  .banner-background-Text {
    font-size: 16px;
    padding-inline: 8px;
  }
.banner-catalog-button {
  position: relative;
  background-color: #FFC8C8;
  border: 2px solid #ccc5b9;
  margin-right: -100px;
  margin-bottom: 40px;
  z-index: 1;
  white-space: nowrap;
} */

}